<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AxcelCapital: Finance Your Business</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Images/logo.png" alt="AxcelCapital" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">About Us</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarFinancialSvcs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Financial Services</a>
                    <div class="dropdown-menu" aria-labelledby="navbarFinancialSvcs">
                        <a class="dropdown-item" href="@Url.Action("FinancialConsultancy","FinancialServices")">Financial Consultancy</a>
                        <a class="dropdown-item" href="@Url.Action("InvoiceFinancing","FinancialServices")">Invoice Financing</a>
                        <a class="dropdown-item" href="@Url.Action("BusinessFinancing","FinancialServices")">Business Financing</a>
                        <a class="dropdown-item" href="@Url.Action("GovtAssistedSchemes","FinancialServices")">Government Assisted Schemes</a>
                        <a class="dropdown-item" href="@Url.Action("PropertyFinancing","FinancialServices")">Property Financing</a>

                        @*<div class="dropdown-divider"></div>*@

                        <a class="dropdown-item" href="@Url.Action("PersonalLoanSolutions","FinancialServices")">Personal Loan Solutions</a>
                        <a class="dropdown-item" href="@Url.Action("BespokeSolutions","FinancialServices")">Bespoke Solutions</a>
                    </div>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Faq","Home")">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Careers","Home")">Careers</a>
                </li>*@
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <p><a id="termsOfService" href="#" data-toggle="modal" data-target="#terms-modal">Terms Of Service & Privacy Policy</a></p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p>Copyright &copy; @DateTime.Now.Year Axcel Capital Pte Ltd. All Rights Reserved</p>
                    </div>
                </div>

            </div>
        </footer>



        <div class="modal fade bs-example-modal-lg" id="terms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">

                <div class="modal-content row">
                    <div class="modal-body clearfix">
                        <div class="modal-header">
                            <div class="container">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="container">

                                    <div class="modal-title">
                                        <h1>Terms of Service</h1>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Introduction</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.
                                        </p>
                                        <p>
                                            This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Intellectual Property Rights</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            Other than content you own, which you may have opted to include on this Website, under these Terms, AxcelCapital Pte Ltd and/or its licensors own all rights to the intellectual property and material contained in this Website, and all such rights are reserved.
                                        </p>
                                        <p>
                                            You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website,
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Restrictions</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            You are expressly and emphatically restricted from all of the following:
                                        </p>
                                        <ol>
                                            <li>Publishing any Website material in any media;</li>
                                            <li>Selling, sub-licensing and/or otherwise commercialising any Website material;</li>
                                            <li>Publicly performing and/or showing any Website material;</li>
                                            <li>Using this Website in any way that is, or may be, damaging to this Website;</li>
                                            <li>Using this Website in any way that impacts user access to this Website;</li>
                                            <li>Using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
                                            <li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
                                            <li>Using this Website to engage in any advertising or marketing;</li>
                                        </ol>
                                        <p>Certain areas of this Website are restricted from access by you and AxcelCapital Pte Ltd may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.</p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Your content</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            In these Website Standard Terms And Conditions, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this Website. With respect to Your Content, by displaying it, you grant AxcelCapital Pte Ltd a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
                                        </p>
                                        <p>
                                            Your Content must be your own and must not be infringing on any third party’s rights. AxcelCapital Pte Ltd reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>No warranties</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            This Website is provided “as is,” with all faults, and AxcelCapital Pte Ltd makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Limitation of liability</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            In no event shall AxcelCapital Pte Ltd, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and AxcelCapital Pte Ltd, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Indemnification</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            You hereby indemnify to the fullest extent AxcelCapital Pte Ltd from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable legal fees) arising out of or in any way related to your breach of any of the provisions of these Terms.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Severability</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Variation of Terms</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            AxcelCapital Pte Ltd is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Assignment</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            AxcelCapital Pte Ltd shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Entire Agreement</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>
                                            These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between AxcelCapital Pte Ltd and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.
                                        </p>
                                    </div>

                                    <div class="modal-title">
                                        <h3>Governing Law & Jurisdiction</h3>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p>These Terms will be governed by and construed in accordance with the laws of Singapore for the resolution of any disputes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




</body>
</html>
